Exercise 2: Create markdown cell with title of the notebook
# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10 - Insert a markdown cell to list Objectives
**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Table of Data Science tools

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Table of Data Science tools

Exercise 4 - Create a markdown cell to list data science languages
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Exercise 5 - Create a markdown cell to list data science libraries
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. dplyr

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. dplyr

Exercise 6 - Create a markdown cell with a table of Data Science tools
| Data Science Tools |
| ------------------ |
| IDE |
| IBM Watson Studio Desktop |
| GitHub |

| Data Science Tools |
| ------------------ |
| IDE |
| IBM Watson Studio Desktop |
| GitHub |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples
### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
Exercise 8 - Create a code cell to multiply and add numbers
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

Exercise 11 - Create a markdown cell to indicate the Author's name
## Aurthor
Li Lingxiao

## Aurthor
Li Lingxiao